
<div id="myplants" class="transitions-enabled">
  <h1>My plants lists</h1>



  <% if user_signed_in? %>
    <%= link_to 'New Plant List', new_myplant_path %>
  <% end %> 

    <% @myplants.each do |myplant| %> 
      <div class="box panel panel-default">    
        <%= image_tag myplant.image.url, width: 300 %>
        <div class="panel-body">
          <%= myplant.description %>
          <%= myplant.user.email if myplant.user %>
          <%= link_to 'Show', myplant_path(myplant) %>
          <% if myplant.user == current_user %>
            <%= link_to 'Edit', edit_myplant_path(myplant) %>
            <%= link_to 'Destroy', myplant, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>

