<h1>My plants lists</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @myplants.each do |myplant| %>
      <tr>
        <td><%= image_tag myplant.image.url, width: 300 %></td>
        <td><%= myplant.description %></td>
        <td><%= myplant.user 'email' %></td>
        <td><%= link_to 'Show', myplant %></td>
        <% if myplant.user == current_user %>
          <td><%= link_to 'Edit', edit_myplant_path(myplant) %></td>
          <td><%= link_to 'Destroy', myplant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Plant List', new_myplant_path %>
<% end %>
